
<%=form_with model: @user do |form| %>
    <div>
        <%= form.label :email%><br><br>
        <%= form.email_field :email%>
        <% @user.errors.full_messages_for(:first_name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    <div>
        <%= form.label :password%><br><br>
        <%= form.password_field :password%>
    </div>

    <div>
        <%= form.label :first_name%><br><br>
        <%= form.text_field :first_name%>
        <% @user.errors.full_messages_for(:first_name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    <div>
        <%= form.label :last_name%><br><br>
        <%= form.text_field :last_name%>
        <% @user.errors.full_messages_for(:last_name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>
    <div>
        <br>
        <%= form.submit%>
    </div>
<% end %>  
<%= link_to "Back", root_path %>  